<form method="post" action="{{ path('app_admin_auteur_delete', {'id': auteur.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet auteur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auteur.id) }}">
    <button class="btn">Supprimer</button>
</form>
